body {
  background-color:#96BFCF;
}
hr {
border-style:none;
border-top-style: dotted;
background-color: #96BFCF;
width: 8%;
border-color: grey;
border-width: 8px;
}

h1{
  color: #66BFBF;
}
